<div class="cabecalho">
  <head>
      <title>Olha esse pokemon</title>
  </head>
  </div>
  <div class="corpo">
  
      <h1>QUEM É ESSE POKEMON?</h1>
      <p>tentem adivinhar quem é esse pokemon...</p>
      <img width="30px" height="30px" alt="pikachu.png" 
      src="/src/assets/pikachu.png"/>
  
  </div>
  <div class="table">
  <table>
      <thead id="cabeçalho-da-tabela">
          <tr id="row">
              <th>Nome</th>
              <th>Tipo</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>charmander</td>
              <td>fogo</td>
          </tr>
          <tr>
              <td>bulbasauro</td>
              <td>grama</td>
          </tr>
          <tr>
              <td>squirtle</td>
              <td>agua</td>
          </tr>
          <tr>
              <td>pikachu</td>
              <td>eletrico</td>
          </tr>
  
      </tbody>
  </table>
  </div>